<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acer.dao.BasicDeviceMapping">

    <select id="saveDevice" resultType="com.acer.model.po.FaceDevice">
        SELECT
            community_code,
            device_name,
            device_code,
            device_ip,
            device_type
        FROM
            basic_device
        WHERE
            device_type = '1'
    </select>

</mapper>